@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Alunos" asp-action="Index"><h3>Alunos</h3></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Professores" asp-action="Index"><h3>Professores</h3></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Turmas" asp-action="Index"><h3>Turmas</h3></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Matriculas" asp-action="Index"><h3>Matriculas</h3></a>
    </li>
</div>
